/* global css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --white: #fff;
    --background-color: #fff;
    --blue-gray-900: #0F172A;
    --blue-gray-600: #475569;
    --blue-gray-300: #CBD5E1;
    --linear-gradient-horizontal-fuchsia: linear-gradient(90deg, #C026D3 0%, #701A75 100%);
    --fuchsia-800: #86198F;
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

